<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>JSF Login Page</title>
	</h:head>
	
	<body>
		<h:form>
			First Name: <h:inputText id="firstName" value="#{user.firstName}" title="" /><h:message for="firstName" /><br />
			Last Name: <h:inputText id="lastName" value="#{user.lastName}" title="" /><h:message for="lastName" /><br />
			<h:commandButton value="Submit 2" action="#{formController.onSubmit(user)}" /><br />
		</h:form>
		<h:messages />
	</body>
</html>
